.account-details {
  @include span-columns(8);

  @include media($phablet) {
    @include span-columns(12);
  }

  button,
  .button {
    width: 100%;
  }
}

.account-sidebar {
  @include span-columns(4);
  text-align: right;

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing;
    text-align: center;
  }
}
