@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

/* Layout Elements */
.wrapper {
  @include outer-container;
}

#root {
  color: white;
  width: 100vw;
  height: 100vh;
}

#header {
  width: 100%;
  height: 5rem;
  background-color: rgb(17, 112, 8);
  padding: 20px;
}

#main {
  @include linear-gradient(to top, rgb(29, 190, 72), rgb(17, 112, 8));
  min-height: 80vh;
}

#footer {
  width: 100%;
  height: 5vh;
  padding: 20px;
  background-color: white;
  color: black;
}

/* page elements */
@import "api";
@import "faqs";
@import "login";
@import "welcome";
