@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  background-color: $lightest-purple;
  color: $purple;
}

/* Layout Elements */
.wrapper {
  @include outer-container;
  padding: 0 1rem;
}

.header {
  background-color: $dark-purple;
  color: $eggshell;
  height: 4rem;
  line-height: 4rem;
}

.logo {
  margin-top: $base-spacing / 3;
}

.nav {
    float: right;
}

.menu {

  li {
    display: inline-block;
    margin-right: $base-spacing;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    color: $lightest-purple;
  }
}

.page-heading {
  height: 6rem;
  background-color: $purple;
  color: $lightest-purple;
  margin-bottom: $base-spacing;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 6rem;
  }
}

.page-nav-container {
  height: 3rem;
  border-bottom: 1px solid $purple;
  margin-bottom: $base-spacing;

  .page-nav {

    li {
      display: inline-block;
      margin-right: $base-spacing;
    }

    li:last-child {
      margin-right: 0;
    }

    a {
      color: $purple;

    }

    .active {
      font-weight: 700;
    }
  }
}

button, .button {
  text-transform: uppercase;
}

.secondary {
  background-color: transparent;
  border: 1px solid $purple;
  color: $purple;
}

.secondary:hover, .secondary:active {
  background-color: $lightest-purple;
  color: $purple;
}


label {
  font-weight: 400;
}

.checkbox {
}

.main {
}

/* Use this to create a half page width column that resizes into full width on smaller viewports */

.half-width {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
  }

  p {
    text-transform: uppercase;

    @include media($phablet);
      text-align: center;
  }

  button, .button {
    width: 100%;
  }
}

.loading {
  text-align: center;
}

.footer {
  @include outer-container;
  margin-top: $base-spacing * 3;
  height: 5rem;
  padding: 20px 0;
  text-align: center;
  color: $dark-purple;

  a {
    color: $purple;
    text-decoration: underline;
  }
}

/* page elements */
@import "api";
@import "faqs";
@import "login";
@import "signup";
@import "billing";
@import "welcome";
@import "dashboard";
@import "bucket";
