@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  background-color: $lightest-purple;
  color: $purple;
}

/* Layout Elements */
.wrapper {
  @include outer-container;
  padding: 0 1rem;
}

.header {
  background-color: $dark-purple;
  color: $eggshell;
  height: 4rem;
  line-height: 4rem;
}

.logo {
  margin-top: $base-spacing / 3;
}

.nav {
    float: right;
}

.menu {

  li {
    display: inline-block;
    margin-right: 1rem;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    color: $lightest-purple;
  }
}

.page-heading {
  height: 6rem;
  background-color: $purple;
  color: $lightest-purple;
  margin-bottom: $base-spacing;

  h1 {
    margin: 0;
    padding: 0;
    line-height: 6rem;
  }
}

button, .button {
  text-transform: uppercase;
}

label {
  font-weight: 400;
}

.checkbox {
}

.main {
}

.footer {
  @include outer-container;
  margin-top: $base-spacing * 3;
  height: 5rem;
  padding: 20px 0;
  text-align: center;
  color: $dark-purple;

  a {
    color: $purple;
    text-decoration: underline;
  }
}

/* page elements */
@import "api";
@import "faqs";
@import "login";
@import "signup";
@import "billing";
@import "welcome";
@import "dashboard";
@import "bucket";
