.billing-details {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
  }

  button,
  .button {
    width: 100%;
  }
}

.payment-info {
  @include span-columns(12);
  margin: $base-spacing / 1.5 0;
  border: 1px solid $purple;
  border-radius: $base-border-radius;

  .card-details {
    padding: 0px $base-spacing / 1.5;

    .card-element {
      label {
        font-weight: bold;
      }

      .card-element-row {
        border-bottom: 1px solid #aab7c4;
        margin: $base-spacing/1.5 0;
      }
    }
    .card-register-message {
      padding-top: $base-spacing / 3;
      font-style: italic;
    }

    input::placeholder {
      color: #aab7c4;
    }

    input {
      background-color: transparent;
      border: none;
      display: block;
      font-family: sans-serif;
      padding: 0;
      margin: 0;
      width: 100%;
      line-height: 1.2em;
      height: 1.2em;
      font-size: 18px;
      color: #424770;
      letter-spacing: 0.025em;
      box-shadow: none;
    }

    .card-details-info {
      @include clearfix;
      padding: $base-spacing / 1.5 0px;

      .card-details-info-actions {
      }
      .card-details-info-actions {
      }
    }
  }

  .payment-meta {
    height: $base-spacing * 2;
    padding: 0 $base-spacing / 2;
    background: $purple;

    .security-info {
      height: $base-spacing * 2;
      padding: $base-spacing / 2 0;

      @include span-columns(9);

      @include media($phablet) {
        @include span-columns(8);
      }

      p {
        color: white;
        text-align: left;

        @include media($tablet) {
          font-size: $base-font-size / 1.2;
        }

        @include media($mobile) {
          font-size: $base-font-size / 1.5;
        }
      }
    }

    .stripe-badge {
      @include span-columns(3);
      padding: $base-spacing / 2 0;
      max-width: 100px;
      float: right;

      @include media($mobile) {
        @include span-columns(4);
      }
    }
    .card-details-info {
      padding: $base-spacing / 1.5 0;

      .card-details-info-actions {
      }
      .card-details-info-actions {
      }
    }
  }
}
