.bucket-list {
  border: 0;
  border-radius: $base-border-radius;
  background-color: white;

  a {
  }
}

.bucket-item {
  padding: $base-spacing;
  border-bottom: 1px solid $lightest-purple;

  p {
    @include span-columns(8);
    margin-top: $base-spacing / 2;
    text-align: left;
    cursor: pointer;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }

  .submission-count {
    @include span-columns(4);
    float: right;

    button {
      width: 100%;
    }

      @include media($phablet) {
        width: 100%;
      }
  }

  @include clearfix;
}

.toggle-switch {
  margin-right: $base-spacing / 2;
}
