.bucket-list {
  border: 0;
  border-radius: $base-border-radius;
  background-color: white;
  margin-bottom: $base-spacing;
  box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);

  a {
  }
}

.toggle-switch {
  margin-right: $base-spacing / 2;
}

.callout-controls {
  padding: $base-spacing;
  border: 1px solid $purple;
  border-radius: $base-border-radius;
  margin-bottom: $base-spacing;

  .format {
    @include span-columns(8);
    margin-top: $base-spacing;
    text-align: left;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }

  .pagination {
    @include span-columns(4);
    margin-top: $base-spacing / 2;
    text-align: right;

    @include media($phablet) {
      width: 100%;
      text-align: center;
    }

    button {
      border: 1px solid $purple;
      background: none;
      color: $purple;
      padding: $small-spacing / 2 $base-spacing / 2;
    }
  }

  @include clearfix;
}
