.form-left {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing;
    text-align: center;
  }
}

.form-right {
  @include span-columns(6);

  @include media($phablet) {
    @include span-columns(12);
    margin-top: $base-spacing;
    text-align: center;
  }
}
