.submissions-controls {
  @include outer-container;
  @include clearfix;

  .submissions-actions {
    @include span-columns(12);
    margin-bottom: $base-spacing;
  }

  .paging {
    @include span-columns(12);

    @include media($phablet) {
      text-align: center;
    }

    .showing-count {
      margin-right: $base-spacing;
    }
  }
}

.submissions-list {
  border: none;
  margin-bottom: $base-spacing;
}

.submission-container {
  @include clearfix;
  @include card;

  p {
    @include span-columns(8);
    margin-top: $base-spacing / 2;
    text-align: left;
    cursor: pointer;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }

  .submission-heading {
    @include clearfix;
    @include span-columns(12);
    border-bottom: 1px solid $lightest-purple;
    padding: $base-spacing / 2;

    .meta {
      @include span-columns(8);

      h3, p {
        padding: 0;
        line-height: 100%;
      }

      .muted {
        color: darken($lightest-purple, 20%);
        font-weight: lighter;
      }

      @include media($phablet) {
        @include span-columns(12);
        text-align: center;
      }
    }

    .actions {
      @include span-columns(4);
      @include omega();

      @include media($phablet) {
        @include span-columns(12);
        text-align: center;
      }
    }

    ul {
      margin-top: $base-spacing / 2;

      @include media($phablet) {
        text-align: center;
      }
    }

    li {
      display: inline-block;
      float: right;
      margin-left: $base-spacing;

      @include media($phablet) {
        float: none;
      }
    }

  }

  .submission-body {
    padding: $base-spacing / 2;
  }

  .submission-count {
    @include span-columns(4);
    float: right;

    button {
      width: 100%;
    }

      @include media($phablet) {
        width: 100%;
      }
  }
}

.dropdown-container {
  @include clearfix;
  @include card;
  padding: $base-spacing;
  display: block;
  margin: 0 auto;

  .search-bar {
    @include span-columns(6);

    @include media($phablet) {
      @include span-columns(12);
    }
  }

  .dropdown-items {
    @include span-columns(6);
    @include omega();
    text-align: right;

    @include media($phablet) {
      @include span-columns(12);
      text-align: center;
    }
  }
}

ul,
li {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  text-decoration: none;
  border: none;
}

//dropdown menu
.dropdown-item {
  padding: $base-spacing;
  display: inline;
}


//Dropdown menu
.dropdown-item-dropdown {
  position: relative;

  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger {
  position: relative;

  &:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }

  &::after {
    content: "›";
    position: absolute;
    font-size: 1.25em;
    font-weight: bold;
    transform: rotate(90deg);
    top: -5px;
    right: -15px;
  }
}

.dropdown-menu {
  background-color: white;
  border: 1px solid $lightest-purple;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 2.5rem;
  right: -10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100px;

  a {
    color: $purple;
  }
}

.dropdown-menu-item {
  padding: $base-spacing / 2;
  text-align: center;

  &:hover {
    background-color: darken($lightest-purple, 5%);
    cursor: pointer;
  }
}

@include media($phablet) {
  text-align: center;
}
