doctype html
html(lang='en')
  head
    title FormBucket - Powerful forms for static sites
    include header.pug
  body
    #formbucket-root.formbucket
    script(src='./app.js')
    link(rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')